html {
  --primary: #FD2D01;
  --secondary: #FFD7D7;
  --tertiary: #4E5166;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato';
  color: var(--tertiary);
  background-color: var(--secondary);
}

#root {
  flex-grow: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--tertiary);
}

a:hover {
  color: var(--primary);
}

button {
  cursor: pointer;
}

.App {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .App {
    width: 100%;
    margin: unset;
  }
}