@import '../styles/App.css';

header {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

.header-logo {
    width: 30%;
}

.top-header {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 14px;
    color: var(--tertiary);
}