form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid var(--tertiary);
    border-bottom: 1px solid var(--tertiary);
    border-radius: 10px;
    background-color: white;
}

h1 {
    margin: 10px 30px;
    font-size: large;
    font-weight: normal;
}

.postForm__content {
    /* border: 1px solid black; */
    width: 50%;
    padding: 0 10px;
}

.postForm__content-inputs {
    display: flex;
    flex-direction: column;
}

.postForm__image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 400px;
    overflow: hidden;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
}

.postForm__image img {
    border-radius: 10px;
}

.postForm__image-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

#image-name {
    margin: 10px;
    font-size: smaller;
}

.postForm__buttons {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.postForm__buttons button {
    width: 100%;
    margin-top: 10px;
}

label {
    margin-right: 3px;
    font-size: 100%;
}

input,
.input,
textarea {
    position: relative;
    right: 0;
    padding: 5px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
}

textarea {
    height: 350px;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: unset;
}

.button {
    width: 100%;
    margin-right: unset;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    text-align: center;
    /* font-size: smaller; */
}

.button:hover {
    color: white;
    font-weight: bolder;
    background-color: var(--primary);
}

@media screen and (max-width: 1024px) {
    form {
        flex-direction: column;
        margin-top: 10px;
    }

    h1 {
        margin-left: unset;
        text-align: center;
    }

    .postForm__content {
        /* border: 1px solid black; */
        width: 100%;
        /* padding: 0 10px; */
    }

    .postForm__image {
        margin: 10px;
    }

    .postForm__buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .postForm__image-button {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .postForm__buttons button,
    .button {
        width: unset;
    }

    textarea {
        height: fit-content;
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    .postForm__image {
        max-height: 500px;
        margin: 10px;
    }
}